
$theme-colors: (
  'primary': #a08c5b,
  'secondary': #4f4f52,
  'success': #577717,
  'info': #3f7679,
  'warning': #ac5b2c,
  'danger': #88193a,
  'light': #c8c8c8,
  'dark': #2f2f2f
);

@import 'bootstrap/scss/bootstrap';


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$theme-colors: (
  primary: purple
);

/* finally, import Bootstrap */
@import "bootstrap";
